@rendermode InteractiveServer
@inject UserRegistrationService userRegistrationService
@inject NavigationManager NavigationManager
@implements IDisposable

@if (userRegistrationService.CurrentUser != null)
{
    <div class="nav-item px-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" @onclick="ToggleDropdown">
            @userRegistrationService.CurrentUser.Name
        </button>
        <div class="dropdown-menu @(isDropdownOpen ? "show" : "")">
            <button class="dropdown-item" @onclick="HandleUserProfile">Profile</button>
            <button class="dropdown-item" @onclick="HandleUserSignOut">Sign Out</button>
        </div>
    </div>
}
else
{
    <a href="/regist">Sign-up</a>
}

@code {
    private bool isDropdownOpen = false;

    private void ToggleDropdown()
    {
        isDropdownOpen = !isDropdownOpen;
    }

    private void HandleUserSignOut()
    {
        isDropdownOpen = false;
        userRegistrationService.SignOutUser();
        NavigationManager.NavigateTo("/");
    }

    private void HandleUserProfile()
    {
        isDropdownOpen = false;
        NavigationManager.NavigateTo("/profile");
    }

    protected override void OnInitialized()
    {
        userRegistrationService.OnCurrentUserChanged += HandleCurrentUserChanged;
    }

    private void HandleCurrentUserChanged()
    {
        InvokeAsync(StateHasChanged); //https://www.youtube.com/watch?v=JoSwm6HAYgM&ab_channel=TutorialsTeam
    }

    public void Dispose()
    {
        userRegistrationService.OnCurrentUserChanged -= HandleCurrentUserChanged;
    }
}

<style>
    .custom-nav-link {
        padding: .0rem 0rem;
    }
</style>

