@inherits LayoutComponentBase
@inject UserRegistrationService userRegistrationService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <ButtonUser />
            
            <CartButton />
            
            <a href="https://youtu.be/xvFZjo5PgG0" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        

    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@* @code {
    protected override void OnInitialized()
    {
        userRegistrationService.OnCurrentUserChanged += HandleCurrentUserChanged;
    }

    private void HandleCurrentUserChanged()
    {
        InvokeAsync(StateHasChanged); //https://www.youtube.com/watch?v=JoSwm6HAYgM&ab_channel=TutorialsTeam
    //     InvokeAsync(() =>
    // {
    //     StateHasChanged();
    //     NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    //});
    }

    public void Dispose()
    {
        userRegistrationService.OnCurrentUserChanged -= HandleCurrentUserChanged;
    }
}
 *@