@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<ul>
    @foreach (var person in people)
    {
        <li>
            <p>@person</p>
        </li>
    }
</ul>


<p>@people</p>

Welcome to your new app.

@code
{
	Person[] people = CsvManager.getFromFile();
}
