@page "/"
@inject UserRegistrationService UserRegistrationService
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<h3>@UserRegistrationService.GetCurrentUserString()</h3>



Welcome to your new app.

@code{}


