@page "/"
@inject UserRegistrationService UserRegistrationService
<PageTitle>Home</PageTitle>

@if (UserRegistrationService.CurrentUser != null)
{
    <h1>Welcome, @UserRegistrationService.CurrentUser.Name!</h1>
}
else
{
    <h1>Welcome, Guest!</h1>
	<a href="/regist">Register</a>
}
<a href="/productpage">Go to Shop</a>

<style>
    h1 {
		font-size: 24px;
		color: #333;
	}

	a {
		margin-right: 10px;
		color: #007BFF;
		text-decoration: none;
	}

	a:hover {
		color: #0056b3;
	}
</style>
