@page "/todo" 
@rendermode InteractiveServer 
<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3> 
<input @bind="newTodo" /> <button @onclick="AddTodo">Add todo</button> 
<ul> 
    @foreach (var todo in todos) { 
    <li>
        <input type="checkbox" @bind="todo.IsDone" @onchange=/> 
        <input @bind="todo.Title" /> 
    </li> 
    } 
    </ul> 
    
@code 
{ 
    private List<TodoItem>? todos; 
    string newTodo = ""; 
    private readonly string FILE_NAME = Path.Combine(Directory.GetCurrentDirectory(), Path.Combine("Components", "Collections", "ToDoList.csv")); 
    protected override void OnInitialized() 
    {
         todos = ReadToDo(); 
    } 
    public List<TodoItem> ReadToDo() 
    { 
        List<TodoItem> users = new List<TodoItem>(); 
        using (var reader = new StreamReader(FILE_NAME)) 
        {
        while (!reader.EndOfStream)
        { 
            string[] line = reader.ReadLine()!.Split(",");
            users.Add(new TodoItem { Title = line[0], IsDone = Boolean.Parse(line[1])});
        }
        }
        return users; 
        } 
        void AddTodo() 
        { 
        if (!string.IsNullOrWhiteSpace(newTodo))
            { 
            TodoItem todo = new TodoItem { Title = newTodo };
                todos.Add(new TodoItem { Title = newTodo });
                using (StreamWriter sw = new StreamWriter(FILE_NAME, true)) 
                { 
                sw.WriteLine(todo.Title + ", " + todo.IsDone); 
                } newTodo = string.Empty; 
            } 
            } 
    public class TodoItem 
    { 
        public string? Title { get; set; } 
        public bool IsDone { get; set; } = false; 
    } 
}