@page "/regist"
@rendermode InteractiveServer
@inject UserRegistrationService UserRegistrationService
@inject NavigationManager NavigationManager

<h3>UserRegistration</h3>


<form @onsubmit="HandleSubmit">
	<div class="form-group">
		<label for="name"><b>Name</b></label>
		<input type="text" id="name" @bind="UserModel.Name" required />
	</div>

	<div class="form-group">
		<label for="email"><b>Email</b></label>
		<input type="email" id="email" @bind="UserModel.Email" required />
	</div>

	<div class="form-group">
		<label for="password"><b>Password</b></label>
		<input type="password" id="password" @bind="UserModel.Password" required />
	</div>

	<button type="submit" class="registerbtn">Register</button>
</form>

<div class="container signin">
	<p>Already have an account? <a href="/sign-in">Sign in</a>.</p>
</div>

<p>@UserRegistrationService.GetCurrentUserString()</p>

@code {
	private UserModel UserModel = new UserModel();

	private void HandleSubmit()
	{
		if(UserRegistrationService.RegisterUser(UserModel))
		{
			NavigationManager.NavigateTo("/", true);
		}
		
	}
}