@page "/sign-in"
@rendermode InteractiveServer
@inject UserRegistrationService UserRegistrationService

<h3>Sign-in</h3>


<form @onsubmit="HandleSubmit">
	<div class="form-group">
		<label for="email"><b>Email</b></label>
		<input type="email" id="email" @bind="UserModel.Email" required />
	</div>

	<div class="form-group">
		<label for="password"><b>Password</b></label>
		<input type="password" id="password" @bind="UserModel.Password" required />
	</div>

	<button type="submit" class="registerbtn">Log in</button>
</form>

<div class="container signin">
	<p>Don't have an acount? <a href="/regist">Register</a>.</p>
</div>

<p>@UserRegistrationService.GetCurrentUserString()</p>

@code {
	private UserModel UserModel = new UserModel();

	private void HandleSubmit()
	{
		UserRegistrationService.SignInUser(UserModel);
	}
}